<div class=".container">
  <div class="ml-5 mt-5">
    <h1>検索結果</h1>
  </div>
  <div class="row mx-auto">
    <% @posts.each do |post| %>
    <div class="card col-3 mx-5 mt-3 flex-wrap shadow-lg" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title text-secondary"><%= post.post_title %></h3>
        <p class="card-text text-secondary lead"><%= post.post_text.truncate(10) %>...</p>
         <%= link_to "もっと見る",  post_path(post.id), class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

